#div1{
    width: 400rem;
    height:400rem;
    position: relative;
   
}
.img{
    position: absolute;
    top:10rem;
    left:10rem;
    opacity: 0;/*初始状态从零开始很重要这样效果明显*/
    animation: change 12s linear infinite;/*所有图片走过一次的时间*/
}
@keyframes change
{
    0.5%{
        opacity: 0.1;
    }

    1%{
       opacity: 0.3;
    }/*1%针对的是时间的1%*/
    2%{
        opacity: 0.5;
    }
    3%{
        opacity: 0.8;
    }
    4%{
       opacity:0.9;
    }
    24%{
        opacity: 1;
    }
     25%{
        /*此时本章图片显示结束，不透明设置为0  12/3=4 100/4=25*/
        opacity:0;
    }
   
    
}
/*每前三张图片的延迟时间可以解决图片变换太快不平滑的视觉感*/

  img:nth-child(0){
    animation-delay: 0s;
}
.img:nth-child(1)
{
    animation-delay: 3s;
}
.img:nth-child(2){
    animation-delay: 6s;
}
.img:nth-child(3){
    animation-delay: 9s;

}
.img:nth-child(4){
    animation-delay: 12s;
}/*每个元素给三秒让其运行完全 
*/ 

