body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 800px;/*形成一个视角一般都在body里加不要加到.box*/
}
.box{
    width: 400px;
    height: 400px;
    position: relative;
    animation: run 12s linear infinite;/*父元素动起来子元素的运动在3D空间中动*/
    transform-style: preserve-3d;
}
.box img{
    width: 400px;
    height: 400px;
    opacity: 0.6;
    position: absolute;
    top:0px;
    left:0px;
}
@keyframes run{
   
    100%{
        transform: rotateY(360deg);
    }
}
.box:hover .left{
    transition: 1s;/*起到一个缓冲的效果*/
    transform:rotateY(90deg) translateZ(300px);
}

.box:hover .right{
    transition: 1s;
    transform: rotateY(-90deg) translateZ(300px);
}
.box:hover .top{
    transition: 1s;
    transform: rotateX(90deg) translateY(-200px) translateZ(100px);
}
.box:hover .bottom{
    transition: 1s;
    transform : rotateX(-90deg) translateZ(400px) translateY(-200px) translateZ(100px);
}
.box:hover .after{
    transition: 1s;
    transform: rotateY(180deg) translateZ(300px);
}
.box:hover .befor{
    transition: 1s;
    transform: translateZ(300px);
}

.left{
    transition: 1s;
    transform:rotateY(90deg) translateZ(200px);
}

  .right{
    transition: 1s;
    transform: rotateY(-90deg) translateZ(200px);
}

.top{
    transition: 1s;
    transform: rotateX(90deg) translateY(-200px);
}
.bottom{
    transition: 1s;
    transform: rotateX(-90deg) translateZ(400px) translateY(-200px);
}
.after{
    transition: 1s;
    transform: rotateY(180deg) translateZ(200px);
}
.befor{
    transition:1s;
    transform: translateZ(200px);
}
